{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
    <div class="sf-toolbar-icon">
        <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill-rule="nonzero" fill="#AAAAAA">
                    <g>
                        <path d="M2,6.7361036 L2,33.2638964 C2,35.8791682 4.12066539,38 6.7361036,38 L33.2638964,38 C35.8791682,38 38,35.8793346 38,33.2638964 L38,6.7361036 C38,4.12083178 35.8793346,2 33.2638964,2 L6.7361036,2 C4.12083178,2 2,4.12066539 2,6.7361036 Z M0,5.99922047 C0,2.68594249 2.68662393,0 5.99922047,0 L34.0007795,0 C37.3140575,0 40,2.68662393 40,5.99922047 L40,34.0007795 C40,37.3140575 37.3133761,40 34.0007795,40 L5.99922047,40 C2.68594249,40 0,37.3133761 0,34.0007795 L0,5.99922047 Z"></path>
                        <path d="M29.6256465,23.6217577 L31.5531261,15.6554394 L30.8303212,15.6554394 L30.8303212,13.4828072 L34.6852803,13.4828072 L34.6852803,15.6554394 C34.2836418,15.6583363 34.0427068,15.8193524 33.9624755,16.1382466 L31.3121911,26.5186007 L27.6981669,26.5186007 L25.5297524,18.793686 L23.3613379,26.5186007 L19.5063788,26.5186007 L16.8560944,16.1382466 C16.7758631,15.8536318 16.5349281,15.692857 16.1332896,15.6554394 L16.1332896,13.4828072 L20.7110535,13.4828072 L20.7110535,15.6554394 L19.5063788,15.6554394 L21.6747933,23.6217577 L24.5660126,13.9656143 L26.9753621,13.9656143 L29.6256465,23.6217577 Z M15.6011376,25.3115827 C14.6373978,26.0357935 12.9508532,26.7600042 11.0233736,26.7600042 C7.16841451,26.7600042 5,24.1045648 5,20.0007039 C5,15.1726322 8.13215429,13 11.2643086,13 C12.7431673,13 13.9904875,13.3879356 15.1192677,13.9656143 L15.1192677,16.6210537 L12.9508532,16.8624573 L12.9508532,16.3796502 C12.9508532,15.6554394 12.2280484,15.4140358 11.2643086,15.4140358 C9.09589407,15.4140358 8.13215429,16.8624573 8.13215429,19.7593003 C8.13215429,22.6561433 9.09589407,24.3459684 11.5052435,24.3459684 C12.5097013,24.3459684 13.4327231,24.1045648 14.3964629,23.3803541 L15.6011376,25.3115827 Z"></path>
                    </g>
                </g>
            </g>
        </svg>
        <span class="sf-toolbar-value">3</span>
        <span class="sf-toolbar-label">files</span>
    </div>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Update</b>
            <span>
                test
            </span>
        </div>
    {% endset %}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}
